<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    @Styles.Render("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")

    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/Catagories">Catagories </a>
        <a href="/Albums">Albums </a>
        <a href="/Dvds">Dvds </a>
        <a href="/Studios">Studios </a>

        <a href="/Artists">Artists </a>
        <a href="/ArtistAlbums">Artist and Album </a>
        <a href="/Producers">Producer </a>
        <a href="/MemberCatagories">Member Catagories </a>
        <a href="/Members">Members </a>
        <a href="/Lones">Lones </a>
        <a href="/Admin">Admin </a>

    </div>

    <!-- Use any element to open the sidenav -->
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
        <span onclick=openNav() class="glyphicon glyphicon-th-list text-muted" style="cursor:pointer; font-size:30px" > </span>
        <span class="navbar-brand">Everest Video Library</span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              
            </ul>
            <ul>
                @Html.Partial("_LoginPartial")

            </ul>
        </div>
    </nav>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main" class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RAPP</p>
        </footer>
    </div>

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
