@model Everest_Video_Library.Models.VideoLibrary.MemberCatagory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MemberCatagory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoneDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoneDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinePerDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinePerDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfDvdRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfDvdRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
