@model IEnumerable<Everest_Video_Library.Models.VideoLibrary.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (@Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="form">
        <div class="form-check">
            <input type="checkbox" name="onStock" id="onStock" class="form-check-input py-2 mx-3">
            <label class="form-check-label mx-5" for="onStock">Only show albums on stock</label>
        </div>
        <div class="form-group">
            <input  class="form-control" name="artist" placeholder="Type artist last name to search .."/>
        </div>
        <button class="btn btn-dark" type="submit"> Search </button>

    </div>

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Catagory.Name)
        </th>
        <th>
            Producer
        </th>
        <th>
            Studio
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfCopies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoverImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
   
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Catagory.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producer.Name)   
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Studio.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfCopies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoverImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
