@model IEnumerable<Everest_Video_Library.Models.VideoLibrary.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (@Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="form">
        <div class="form-check">
            <input type="checkbox" name="onStock" id="onStock" class="form-check-input py-2 mx-3">
            <label class="form-check-label mx-5" for="onStock">Only show albums on stock</label>
        </div>
        <div class="form-group">
            <input class="form-control" name="actor" placeholder="Type artist last name to search .." />
        </div>
        <button class="btn btn-dark" type="submit"> Search </button>

    </div>

}

<div class="d-flex flex-row flex-wrap">


    @foreach (var item in Model)
    {
            var image = "/" + item.CoverImagePath;


        <div class="col-sm-10 col-md-6 col-lg-4 m-auto">
            <div class="card m-3">
                @**
        <div style="background-image:url("@image")" class="card-img-top"></div>
                *@
                <img src="@image" class="card-img-top"/>
                <div class="card-body">

                    <h3 class="card-title text-center" style="text-transform:capitalize">
                        @item.Name
                    </h3>
                    <div class="d-flex">
                        <p class="text-muted">Produced By: </p> &nbsp; <p> @item.Producer.Name</p>
                    </div>
                    <div class="d-flex">
                        <p class="text-muted">Studio : </p> &nbsp; <p> @item.Studio.Name</p>
                    </div>
                    <div class="d-flex flex-wrap">

                        <p class="text-muted">Produced By: </p> &nbsp; <p> @item.Producer.Name</p>
                    </div>
                    <h4 class="text-center">Artists</h4>
                    <div class="d-flex flex-wrap flex-row">
                        @foreach (var i in item.ArtistAlbums)
                        {
                            <div class="col-6">
                                <h5> @i.Artists.FirstName  @i.Artists.LastName </h5>
                            </div>
                        }

                    </div>
                    <span class="text-muted">@item.ReleaseDate</span>
                    <div class=" my-3 col d-flex justify-content-center" >
                        <a class="btn btn-dark text-light m-auto"> View Details</a>

                    </div>

                </div>
            </div>
        </div>

    }
</div>
