@model IEnumerable<Everest_Video_Library.Models.VideoLibrary.Lone>

@{
    ViewBag.Title = "LatestLone";
}

<h2>LatestLone</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dvds.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoneDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FineAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dvds.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Members.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoneDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FineAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
